python-dotenv
streamlit
streamlit-chat
streamlit_pdf_viewer
faiss-cpu
langchain
langserve[all]
langchain-community
langchain-experimental
langchain-groq
langchain-openai
ollama
fastapi
sqlalchemy
uvicorn
pinecone-client
chromadb
accelerate
pandas
chainlit
PyPDF2
pypdf
groq